<section id="banner">
				<header>
					<h2>Hi, Akira! Go for <strong>SASANOHA choir</strong>.</h2>
				</header>
		<header>
			<h3><a href="#">現在の進捗</a></h3>
		<p>演奏会まであと x 日</p>							
		</header>
				
			</section>

<div class="reel container">
 	<div class="row menu-elements">

					<article id="reminder" class="menu-element col-xs-4 col-sm-3 col-md-2">
						<header>
						<div class="menu-icon blue"><span class="glyphicon glyphicon-envelope"></span></div>
						<h3>
							<a href="/musica-secretary/secretary/reminder/management/">連絡管理</a></h3>
						</header>
						<p>テンプレートを利用し、スムーズな連絡を支援します。</p>							
					</article>
				
					<article class="menu-element col-xs-4 col-sm-3 col-md-2">
						<div class="menu-icon green"><span class="glyphicon glyphicon-calendar"></span></div>
						<header>
							<h3><a href="http://urx.nu/izeA">スケジュール管理</a></h3>
						</header>
						<p>外部サービスを利用し、スケジュールを調整します。</p>							
					</article>
				
					<article class="menu-element col-xs-4 col-sm-3 col-md-2">
						<div class="menu-icon orange"><span class="glyphicon glyphicon-record"></span></div>
						<header>
							<h3><a href="#">目標管理</a></h3>
						</header>
						<p>目標を管理し、適切な練習プランを練ります。</p>							
					</article>
				
					<article class="menu-element col-xs-4 col-sm-3 col-md-2">
						<div class="menu-icon yellow"><span class="glyphicon glyphicon-paperclip"></span></div>
						<header>
							<h3><a href="#">リソース管理</a></h3>
						</header>
						<p>楽譜・音源などを管理し、共有します。</p>							
					</article>
				
					<article class="menu-element col-xs-4 col-sm-3 col-md-2">
						<div class="menu-icon brown"><span class="glyphicon glyphicon-book"></span></div>
						<header>
							<h3><a href="#">予約管理</a></h3>
						</header>
						<p>ステージ・練習場所などを照会し、スムーズな運営を支援します。</p>							
					</article>

					<article class="menu-element col-xs-4 col-sm-3 col-md-2">
						<div class="menu-icon purple">
						<span class="glyphicon glyphicon-user small"></span>
						<span class="glyphicon glyphicon-user small"></span>
						</div>
						<header>
							<h3><a href="#">メンバー管理</a></h3>
						</header>
						<p>メンバーの特性を管理し、円滑なコミュニケーションを支援します</p>							
					</article>
				

</div>
				</div>