
		
			<div class="initial-select">
			<select id="template-select" class="form-control default-component " name="select">
<option value="sasanoha_reminder" selected>笹の葉練習リマインダー</option>
<option value="tapiro_announce">タピーロ練習連絡</option>
<option value="sasanoha_announce">笹の葉練習連絡</option>
</select>

		<button type="button" class="btn input-sm btn-success default-component">write</button>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<form role="form">
						<div class="form-group">
							 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							 <label for="nittei-input">練習日程</label>
							 <div class="input-group date" id="dp3" data-date="12-02-2015" data-date-format="dd-mm-yyyy">
        					<input class="form-control" size="16" type="text" value="12-02-2015">
        					<span class="input-group-addon"><span class="add-on glyphicon glyphicon-th"></span></span>
							</div>
						</div>
						<div class="form-group">
							 <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />
							<p class="help-block">
								Example block-level help text here.
							</p>
						</div>
						<div class="checkbox">
							 <label><input type="checkbox" /> Check me out</label>
						</div> 
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="col-md-6 column">
				<div id="addressOnText">
				</div>
				    <div id="titleOnText">
				    </div>
				    
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p>
				</div>
			</div>