#header {
	max-height: 130px;
}

#header .inner {
	padding: 0;
}

#header>h2{
	margin-top : 0;
}

body {
  position: relative;
  min-height: 100%;
}
#page {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {  /*<footer class="footer">*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
