<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/cache
                           http://www.springframework.org/schema/cache/spring-cache.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<context:component-scan base-package="com.machworks.musicasecretary" />
	<mvc:annotation-driven />
	<mvc:resources location="/bootstrap/" mapping="/bootstrap/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<tx:annotation-driven transaction-manager="transactionManager" />
	<cache:annotation-driven />
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
					<property name="name" value="tags" />
				</bean>
			</set>
		</property>
	</bean>
	
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/vm/"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".vm"/>
    </bean>
	
<!--
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp"></property>
	</bean>
-->
   	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/webeditor" />
	</bean>

	<bean class="com.worksap.company.access.cassandra.CassandraAccessNetflix">
	</bean>

	<bean class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
<!-- activate when you use jdbc -->
 
<!-- 
	<bean id="daofactory" class="com.worksap.bootcamp.webeditor.dao.DaoFactoryJdbcImpl">
		<qualifier type="org.springframework.beans.factory.annotation.Qualifier"
			value="daofactory" />
	</bean>
-->

<!-- activate when you use cassandra. -->


<bean id="daofactory" class="com.worksap.bootcamp.webeditor.dao.DaoFactoryCassandraImpl">
		<qualifier type="org.springframework.beans.factory.annotation.Qualifier"
			value="daofactory" />
    </bean>


</beans>
